# 1.getting the data ready

In [2]:
import pandas as pd
import matplotlib as plt
import numpy as np

In [4]:
heart_disease = pd.read_csv("heart-disease.csv")

In [5]:
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [9]:
X = heart_disease.drop("target", axis=1)
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [10]:
y = heart_disease["target"]
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

# 2. splitting the data into test and training data

In [13]:

from sklearn.model_selection import train_test_split
X_train, X_test, y_train , y_test = train_test_split(X , y , test_size = 0.2)

In [15]:
X.shape
# this meas 303 rows and 13 cols

(303, 13)

In [17]:
X_train.shape , X_test.shape , y_train.shape , y_test.shape

((242, 13), (61, 13), (242,), (61,))

# 2.1 make sure everything is numerical

In [25]:
car_sales = pd.read_csv("exported-car-sales.csv")
X = car_sales.drop("Price", axis=1)
X.head()

y = car_sales["Price"]
y.head()

0     $4,000.00
1     $5,000.00
2     $7,000.00
3    $22,000.00
4     $3,500.00
Name: Price, dtype: object

In [23]:
X_train, X_test, y_train , y_test = train_test_split(X , y , test_size = 0.2)

In [24]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()