# DATATYPES AND ATTRIBUTES

In [49]:
import numpy as np

In [50]:
a1 = np.array([1,2,3])
a1

array([1, 2, 3])

In [51]:
a2 = np.array([[1,4,6],[4,8,9]])
a2

array([[1, 4, 6],
       [4, 8, 9]])

In [52]:
a3 = np.array([[1,4,6],[4,8,9],[7,8,9]])
a3

array([[1, 4, 6],
       [4, 8, 9],
       [7, 8, 9]])

In [53]:
a4= np.array([[[1,4,6],[4,8,9],[7,8,9]],
             [[3,1,8],[5,8,9],[5,3,2]]])
a4

array([[[1, 4, 6],
        [4, 8, 9],
        [7, 8, 9]],

       [[3, 1, 8],
        [5, 8, 9],
        [5, 3, 2]]])

In [54]:
a3.dtype

dtype('int32')

In [55]:
 a1.dtype

dtype('int32')

In [56]:
a2.dtype

dtype('int32')

In [57]:
a1.shape

(3,)

In [58]:
a2.shape

(2, 3)

In [59]:
a3.shape

(3, 3)

In [60]:
a4.shape

(2, 3, 3)

In [61]:
a3.size

9

In [62]:
a4.size

18

In [63]:
type(a1)

numpy.ndarray

In [64]:
import pandas as pd

df = pd.DataFrame(a2)
df

   0  1  2
0  1  4  6
1  4  8  9

# CREATING NUMPY ARRAYS

In [65]:
np.ones((2,3))

array([[1., 1., 1.],
       [1., 1., 1.]])

In [66]:
np.zeros((2,3))

array([[0., 0., 0.],
       [0., 0., 0.]])

In [67]:
ra = np.random.randint(0,10,(2,3))
ra

array([[6, 1, 6],
       [5, 5, 9]])

In [68]:
ra = np.random.randint(0,10)
ra

6

In [72]:
# np.random.seed(seed=9999)
ra1 =np.random.randit(10,size =(3,4))
ra1

AttributeError: module 'numpy.random' has no attribute 'randit'