In [1]:
import pandas as pd
import matplotlib as plt
import numpy as np

In [4]:
heart_disease = pd.read_csv("heart-disease.csv")

In [5]:
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [9]:
X = heart_disease.drop("target", axis=1)
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [10]:
y = heart_disease["target"]
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [13]:

from sklearn.model_selection import train_test_split
X_train, X_test, y_train , y_test = train_test_split(X , y , test_size = 0.2)

In [15]:
X.shape
# this means 303 rows and 13 cols

(303, 13)

In [17]:
X_train.shape , X_test.shape , y_train.shape , y_test.shape

((242, 13), (61, 13), (242,), (61,))

# Getting the data ready

# 1. Make sure everything is numerical and filled

In [122]:
# 1. getting the data ready¶

car_sales = pd.read_csv("car-sales.csv")

# 2. make sure everything is numerical

car_sales["Price"] = car_sales["Price"].str.replace('[\$\,\.]','')

C:\Users\jutika patil\AppData\Local\Temp/ipykernel_6116/964933257.py:7: FutureWarning: The default value of regex will change from True to False in a future version.
  car_sales["Price"] = car_sales["Price"].str.replace('[\$\,\.]','')

# 3. splitting the data into test and training data

In [ ]:

#  3. splitting the data into test and training data
X = car_sales.drop("Price", axis=1)
y = car_sales["Price"]

In [ ]:
# 4. fitting cant happen
X_train, X_test, y_train , y_test = train_test_split(X , y , test_size = 0.2)
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()
model.fit(X_train, y_train)
model.fit(X_test,y_test)

In [102]:
car_sales

     Make Colour  Odometer (KM)  Doors    Price
0  Toyota  White         150043      4   400000
1   Honda    Red          87899      4   500000
2  Toyota   Blue          32549      3   700000
3     BMW  Black          11179      5  2200000
4  Nissan  White         213095      4   350000
5  Toyota  Green          99213      4   450000
6   Honda   Blue          45698      4   750000
7   Honda   Blue          54738      4   700000
8  Toyota  White          60000      4   625000
9  Nissan  White          31600      4   970000

# 4. Transformation -Turn Categories into numbers

In [ ]:
# Turn Categories into numbers

from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

# columns
categorical_features =["Make", "Colour","Doors"]
# transformation
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot", one_hot , categorical_features)], remainder = "passthrough")

transformed_X = transformer.fit_transform(X)
transformed_X
pd.DataFrame(transformed_X)

In [83]:
dummies = pd.get_dummies(car_sales[["Make", "Colour","Doors"]])
dummies

,Doors,Make_BMW,Make_Honda,Make_Nissan,Make_Toyota,Colour_Black,Colour_Blue,Colour_Green,Colour_Red,Colour_White
0,4,0,0,0,1,0,0,0,0,1
1,4,0,1,0,0,0,0,0,1,0
2,3,0,0,0,1,0,1,0,0,0
3,5,1,0,0,0,1,0,0,0,0
4,4,0,0,1,0,0,0,0,0,1
5,4,0,0,0,1,0,0,1,0,0
6,4,0,1,0,0,0,1,0,0,0
7,4,0,1,0,0,0,1,0,0,0
8,4,0,0,0,1,0,0,0,0,1
9,4,0,0,1,0,0,0,0,0,1

# 5. Fitting

In [84]:
X_train, X_test, y_train, y_test = train_test_split(transformed_X, y, test_size=0.2, random_state=42)

model.fit(X_train, y_train)

RandomForestRegressor()

In [85]:
model.score(X_test,y_test)

-0.40356736000000004

In [91]:
car_sales.isna().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

# 2B. cleaning - Filling missing data

In [103]:

# Import car sales dataframe with missing values
car_sales_missing = pd.read_csv("car-sales-missing-data.csv")
car_sales_missing

car_sales_missing["Price"] = car_sales["Price"].str.replace('[\$\,\.]','')

C:\Users\jutika patil\AppData\Local\Temp/ipykernel_6116/2763278344.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  car_sales_missing["Price"] = car_sales["Price"].str.replace('[\$\,\.]','')

In [104]:
car_sales_missing

     Make Colour  Odometer  Doors    Price
0  Toyota  White  150043.0    4.0   400000
1   Honda    Red   87899.0    4.0   500000
2  Toyota   Blue       NaN    3.0   700000
3     BMW  Black   11179.0    5.0  2200000
4  Nissan  White  213095.0    4.0   350000
5  Toyota  Green       NaN    4.0   450000
6   Honda    NaN       NaN    4.0   750000
7   Honda   Blue       NaN    4.0   700000
8  Toyota  White   60000.0    NaN   625000
9     NaN  White   31600.0    4.0   970000

In [105]:
car_sales_missing.isna().sum()

Make        1
Colour      1
Odometer    4
Doors       1
Price       0
dtype: int64

In [106]:
# Let's convert the categorical columns to one hot encoded (code copied from above)
# Turn the categories (Make and Colour) into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ["Make", "Colour", "Doors"]
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot", 
                                 one_hot, 
                                 categorical_features)],
                                 remainder="passthrough")
transformed_X = transformer.fit_transform(car_sales_missing)
transformed_X

<10x17 sparse matrix of type '<class 'numpy.float64'>'
	with 50 stored elements in Compressed Sparse Row format>

Ahh... this doesn't work. We'll have to either fill or remove the missing values.

Let's see what values are missing again.

# 2B.1 Fill missing data with pandas

In [114]:
# Fill the "Make" column
car_sales_missing["Make"].fillna("missing", inplace=True)
# Fill the "Colour" column
car_sales_missing["Colour"].fillna("missing", inplace=True)
# Fill the "Odometer (KM)" column
car_sales_missing["Odometer"].fillna(car_sales_missing["Odometer"].mean(), inplace=True)
# Fill the "Doors" column
car_sales_missing["Doors"].fillna(4, inplace=True)

In [113]:
car_sales_missing

      Make   Colour       Odometer  Doors    Price
0   Toyota    White  150043.000000    4.0   400000
1    Honda      Red   87899.000000    4.0   500000
2   Toyota     Blue   92302.666667    3.0   700000
3      BMW    Black   11179.000000    5.0  2200000
4   Nissan    White  213095.000000    4.0   350000
5   Toyota    Green   92302.666667    4.0   450000
6    Honda  missing   92302.666667    4.0   750000
7    Honda     Blue   92302.666667    4.0   700000
8   Toyota    White   60000.000000    NaN   625000
9  missing    White   31600.000000    4.0   970000

In [118]:
# Remove rows with missing Price labels
car_sales_missing.dropna(inplace=True)

car_sales_missing

      Make   Colour       Odometer  Doors    Price
0   Toyota    White  150043.000000    4.0   400000
1    Honda      Red   87899.000000    4.0   500000
2   Toyota     Blue   92302.666667    3.0   700000
3      BMW    Black   11179.000000    5.0  2200000
4   Nissan    White  213095.000000    4.0   350000
5   Toyota    Green   92302.666667    4.0   450000
6    Honda  missing   92302.666667    4.0   750000
7    Honda     Blue   92302.666667    4.0   700000
8   Toyota    White   60000.000000    4.0   625000
9  missing    White   31600.000000    4.0   970000

In [116]:
car_sales_missing.isna().sum()

Make        0
Colour      0
Odometer    0
Doors       0
Price       0
dtype: int64

In [125]:
#  3. splitting the data into test and training data
X = car_sales.drop("Price", axis=1)
y = car_sales["Price"]

# 4. Let's convert the categorical columns to one hot encoded (code copied from above)
# Turn the categories (Make and Colour) into numbers
categorical_features = ["Make", "Colour", "Doors"]
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot", 
                                 one_hot, 
                                 categorical_features)],
                                 remainder="passthrough")
transformed_X = transformer.fit_transform(car_sales_missing)
transformed_X

array([[0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0,
        0.0, 150043.0, '400000'],
       [0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0,
        0.0, 87899.0, '500000'],
       [0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0,
        0.0, 92302.66666666667, '700000'],
       [1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
        1.0, 11179.0, '2200000'],
       [0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0,
        0.0, 213095.0, '350000'],
       [0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0,
        0.0, 92302.66666666667, '450000'],
       [0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0,
        0.0, 92302.66666666667, '750000'],
       [0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0,
        0.0, 92302.66666666667, '700000'],
       [0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0,
        0.0, 60000.0, '625000'],
       [0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0,
        0.0, 31600.0, '970000']], dtype=object)

# 2B.2 Filling missing data and transforming categorical data with Scikit-Learn

https://colab.research.google.com/drive/162DyoCBFeufMjJI7n4XCiYpdqIdktZw_
#     same with bigger data

In [5]:
# Import car sales dataframe with missing values
car_sales_missing = pd.read_csv("https://raw.githubusercontent.com/mrdbourke/zero-to-mastery-ml/master/data/car-sales-extended-missing-data.csv")
car_sales_missing

# car_sales_missing["Price"] = car_sales["Price"].str.replace('[\$\,\.]','')

KeyboardInterrupt:

In [127]:
# Split into X and y
X = car_sales_missing.drop("Price", axis=1)
y = car_sales_missing["Price"]

# Split data into train and test
np.random.seed(42)
X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    test_size=0.2)

In [137]:
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

In [138]:
# Drop the rows with missing in the "Price" column
car_sales_missing.dropna(subset=["Price"], inplace=True)

# Fill categorical values with 'missing' & numerical with mean
cat_imputer = SimpleImputer(strategy="constant", fill_value="missing")
door_imputer = SimpleImputer(strategy="constant", fill_value=4)
num_imputer = SimpleImputer(strategy="mean")

In [139]:
# Define different column features
categorical_features = ["Make", "Colour"]
door_feature = ["Doors"]
numerical_feature = ["Odometer"]

In [140]:
car_sales_missing

     Make Colour  Odometer  Doors    Price
0  Toyota  White  150043.0    4.0   400000
1   Honda    Red   87899.0    4.0   500000
2  Toyota   Blue       NaN    3.0   700000
3     BMW  Black   11179.0    5.0  2200000
4  Nissan  White  213095.0    4.0   350000
5  Toyota  Green       NaN    4.0   450000
6   Honda    NaN       NaN    4.0   750000
7   Honda   Blue       NaN    4.0   700000
8  Toyota  White   60000.0    4.0   625000
9     NaN  White   31600.0    4.0   970000

In [141]:
imputer = ColumnTransformer([
    ("cat_imputer", cat_imputer, categorical_features),
    ("door_imputer", door_imputer, door_feature),
    ("num_imputer", num_imputer, numerical_feature)])

# Fill train and test values separately
filled_X_train = imputer.fit_transform(X_train)
filled_X_test = imputer.transform(X_test)

# Check filled X_train
filled_X_train

array([['Toyota', 'Green', 4.0, 101479.25],
       ['Toyota', 'White', 4.0, 150043.0],
       ['Honda', 'Blue', 4.0, 101479.25],
       ['Toyota', 'Blue', 3.0, 101479.25],
       ['missing', 'White', 4.0, 31600.0],
       ['Nissan', 'White', 4.0, 213095.0],
       ['BMW', 'Black', 5.0, 11179.0],
       ['Honda', 'missing', 4.0, 101479.25]], dtype=object)

In [142]:
# Get our transformed data array's back into DataFrame's
car_sales_filled_train = pd.DataFrame(filled_X_train, 
                                      columns=["Make", "Colour", "Doors", "Odometer (KM)"])

car_sales_filled_test = pd.DataFrame(filled_X_test, 
                                      columns=["Make", "Colour", "Doors", "Odometer (KM)"])

# Check missing data in training set
car_sales_filled_train.isna().sum()

Make             0
Colour           0
Doors            0
Odometer (KM)    0
dtype: int64

In [4]:
# Now let's one hot encode the features with the same code as before 
categorical_features = ["Make", "Colour", "Doors"]
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot", 
                                 one_hot, 
                                 categorical_features)],
                                 remainder="passthrough")

# Fill train and test values separately
transformed_X_train = transformer.fit_transform(car_sales_filled_train)
transformed_X_test = transformer.transform(car_sales_filled_test)

# Check transformed and filled X_train
transformed_X_train.toarray()

NameError: name 'OneHotEncoder' is not defined

In [ ]:
# Now we've transformed X, let's see if we can fit a model
np.random.seed(42)
from sklearn.ensemble import RandomForestRegressor

# Setup model
model = RandomForestRegressor()

# Make sure to use transformed (filled and one-hot encoded X data)
model.fit(transformed_X_train, y_train)
model.score(transformed_X_test, y_test)

# CHOOSING THE RIGHT ESTIMATOR/MODEL

In [2]:
# Get California Housing dataset
from sklearn.datasets import fetch_california_housing
housing = fetch_california_housing()
housing; # gets downloaded as dictionary